{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">

        <!-- PostForm box if user is logged in -->
        {% if user.is_authenticated %}
            <form action="{% url 'post' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ postform }}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-secondary" value="Post">
                </div>
            </form>
            <hr>
        {% endif %}
        
        {% include "network/paginate.html" %}

    </div>
{% endblock %}
